$css-namespace: totalcoin;
$primary-color: #ff37a6;
$secondary-color: #26ffe6;
$font-color: #edf2f4;
$font-color-dark: #403d39;
$link-color-dark: #aaaaaa;

$bg-primary: #252422;
$bg-secondary: #403d39;
$bg-terciary: #ccc5b9;

@import 'mixins';