@import '../../styles/variables.scss';

.#{$css-namespace} {
  h3 {
    margin-top: 15px;
    text-align: center;
  }
  .pet-card {
    min-width: 18rem;
    min-height: 17rem;
    margin: 5px;
    float: left;
  }
  .vendor-customer-list {
    & > div {
      margin-bottom: 10px;
    }
  }
  .vendor-pets-list {
    .pet-card {
      min-height: 12rem;
    }
  }
  .add-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  .card-icon {
    font-size: 40px;
  }
  .my-orders-list {
    .order {
      display: flex;
      justify-content: space-between;
    }
  }
  .order-status {
    color: red;
    &.delivered {
      color: green;
    }
  }
}