@import '~bootstrap/scss/bootstrap';

@import './styles/variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1B1B;
  color: #fff
}

.#{$css-namespace} {
  .App {
    text-align: center;
  }
  .home-icon {
    margin-top: -200px;
    font-size: 500px;
  }

  .section {
    background-color: $bg-primary;
    margin: 1em auto;
    @include content-box();
    padding-top: 15px;
    padding-bottom: 15px;
  }
}