@import '../../styles/variables.scss';

.#{$css-namespace} .error-404 {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-color-dark;

    h1 {
        font-size: 5em;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color
    }
}